@media screen and (max-width:576px) {
   header{
      padding:30px;
    
   }
   nav, nav ul{
    flex-direction: column;
    text-align: center;
   }
   .banner{
      flex-direction: column-reverse;
      height:100%;
     
      background-position: top;
      background-size: 350px 300px;
      padding:10px 0px;
      
   }
 
   .banner-img img{
   width:100%;
  padding-left:20px;
   }
 .banner-content{
   text-align: center;
   margin:0 auto;
   margin-top:20px;
   height:100%;
 }
 
}
